Repository airqo-platform/AirQo-frontend, pull requests merged in 2023-04, with the labels that each got.

#1109 MOB-185-Fixing Showcase bugs
  mobile/lib/screens/dashboard/dashboard_view.dart
  mobile/lib/screens/for_you_page.dart
  mobile/lib/screens/home_page.dart
  mobile/lib/screens/kya/kya_widgets.dart
  mobile/lib/screens/settings/settings_page.dart
  mobile/lib/services/app_service.dart
  mobile/lib/widgets/custom_widgets.dart
Labels: ready for review, mobile-app

#1127 [Collocation] Ft monitor report
  platform/cypress.config.js
  platform/cypress/e2e/1-getting-started/todo.cy.js
  platform/cypress/e2e/collocation/collocation.cy.js
  platform/cypress/fixtures/collocation_results.json
  platform/cypress/fixtures/example.json
  platform/package.json
  platform/public/icons/Common/arrow_down.jsx
  platform/public/icons/Common/arrow_up.jsx
  platform/public/icons/arrow_drop_down.js
  platform/src/common/components/Button/index.jsx
  platform/src/common/components/Collocation/AddMonitor/Calendar/index.jsx
  platform/src/common/components/Collocation/AddMonitor/Skeletion/index.jsx
  platform/src/common/components/Collocation/AddMonitor/Table/DataTable.jsx
  platform/src/common/components/Collocation/AddMonitor/Table/index.jsx
  platform/src/common/components/Collocation/DeviceStatus/Table/DataTable.jsx
  platform/src/common/components/Collocation/DeviceStatus/Table/Skeleton.jsx
  platform/src/common/components/Collocation/DeviceStatus/Table/index.jsx
  platform/src/common/components/Collocation/DeviceStatus/Tabs/index.jsx
  platform/src/common/components/Collocation/Report/Charts/CorrelationBarChart.jsx
  platform/src/common/components/Collocation/Report/Charts/CorrelationLineChart.jsx
  platform/src/common/components/Collocation/Report/MonitorReport/DataCompletenessTable/DataTable.jsx
  platform/src/common/components/Collocation/Report/MonitorReport/DataCompletenessTable/index.jsx
  platform/src/common/components/Collocation/Report/MonitorReport/InterCorrelation/index.jsx
  platform/src/common/components/Collocation/Report/MonitorReport/IntraCorrelation/index.jsx
  platform/src/common/components/Collocation/Report/PollutantDropdown/index.jsx
  platform/src/common/components/Collocation/Report/box.jsx
  platform/src/common/components/Collocation/SearchBar.jsx
  platform/src/common/components/SideBar/SideBarItem.jsx
  platform/src/common/components/SideBar/index.jsx
  platform/src/common/components/Spinner/index.jsx
  platform/src/common/components/Table/index.jsx
  platform/src/common/components/Toast/index.jsx
  platform/src/common/components/TopBar/index.jsx
  platform/src/lib/envConstants.js
  platform/src/lib/store/services/collocation/collocationDataSlice.js
  platform/src/lib/store/services/collocation/index.js
  platform/src/lib/store/services/deviceRegistry.js
  platform/src/pages/collocation/add_monitor.jsx
  platform/src/pages/collocation/collocate.jsx
  platform/src/pages/collocation/collocate_success.jsx
  platform/src/pages/collocation/reports/[device].jsx
  platform/src/pages/collocation/reports/monitor_report/[device].jsx
  platform/tailwind.config.js
  platform/yarn.lock
Labels: ready for review

#1134 [MOBILE] Fix bugs in CI/CD for android production
  .github/workflows/deploy-android-to-play-store.yml
  mobile/android/Gemfile.lock
  mobile/android/fastlane/.gitignore
  mobile/android/fastlane/Appfile
  mobile/android/fastlane/Fastfile
  mobile/android/fastlane/README.md
  mobile/pubspec.lock
Labels: ready for review, mobile-app

#1138 [Mobile app] Setting minimum and maximum scale factors
  mobile/lib/constants/config.dart
  mobile/lib/screens/dashboard/dashboard_view_legacy.txt
  mobile/lib/screens/for_you_page.dart
  mobile/lib/screens/kya/kya_lessons_page.dart
  mobile/lib/screens/kya/kya_title_page.dart
  mobile/lib/screens/map/map_view.dart
  mobile/lib/screens/search/search_widgets.dart
  mobile/lib/screens/settings/update_screen.dart
  mobile/lib/widgets/custom_widgets.dart
Labels: ready for review, mobile-app

#1136 [WEBSITE] Events Resources
  website/.env.sample
  website/backend/assets/events/Best_Practices_for_Event_Rapporteuring.pdf
  website/backend/assets/events/Best_Practices_for_Event_Rapporteuring_laO2ABX.pdf
  website/backend/event/admin.py
  website/backend/event/migrations/0004_resource.py
  website/backend/event/migrations/0005_resource_resource_alter_resource_link.py
  website/backend/event/models.py
  website/backend/event/serializers.py
  website/backend/settings.py
  website/frontend/src/components/nav/TopBar.js
  website/frontend/src/pages/Events/Details.js
  website/frontend/styles/AboutUsPage.scss
  website/frontend/styles/Events.scss
  website/frontend/styles/Press.scss
  website/frontend/styles/TopBar.scss
Labels: ready for review, airqo-website

#1129 Nearest location refinement
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/blocs/dashboard/dashboard_bloc.dart
  mobile/lib/blocs/dashboard/dashboard_state.dart
  mobile/lib/blocs/map/map_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_state.dart
  mobile/lib/blocs/search/search_bloc.dart
  mobile/lib/constants/api.dart
  mobile/lib/screens/dashboard/dashboard_view.dart
  mobile/lib/screens/dashboard/dashboard_widgets.dart
  mobile/lib/services/hive_service.dart
  mobile/lib/services/location_service.dart
  mobile/lib/services/notification_service.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/utils/extensions.dart
Labels: ready for review, mobile-app

#1141 move to production
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/lib/blocs/dashboard/dashboard_bloc.dart
  mobile/lib/blocs/dashboard/dashboard_state.dart
  mobile/lib/blocs/map/map_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_state.dart
  mobile/lib/blocs/search/search_bloc.dart
  mobile/lib/constants/api.dart
  mobile/lib/screens/dashboard/dashboard_view.dart
  mobile/lib/screens/dashboard/dashboard_widgets.dart
  mobile/lib/services/hive_service.dart
  mobile/lib/services/location_service.dart
  mobile/lib/services/notification_service.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/utils/extensions.dart
Labels: ready for review

#1142 [MOBILE APP] Updating dependencies
  mobile/android/build.gradle
  mobile/lib/main.dart
  mobile/lib/main_dev.dart
  mobile/lib/screens/analytics/analytics_widgets.dart
  mobile/lib/screens/feedback/feedback_page_widgets.dart
  mobile/lib/screens/kya/kya_lessons_page.dart
  mobile/lib/screens/kya/kya_widgets.dart
  mobile/lib/screens/profile/profile_widgets.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/widgets/custom_widgets.dart
  mobile/lib/widgets/icons.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: ready for review, mobile-app

#1146 move to production
  mobile/android/build.gradle
  mobile/lib/main.dart
  mobile/lib/main_dev.dart
  mobile/lib/screens/analytics/analytics_widgets.dart
  mobile/lib/screens/feedback/feedback_page_widgets.dart
  mobile/lib/screens/kya/kya_lessons_page.dart
  mobile/lib/screens/kya/kya_widgets.dart
  mobile/lib/screens/profile/profile_widgets.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/widgets/custom_widgets.dart
  mobile/lib/widgets/icons.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: ready for review

#1147 [Netmanager] Update CustomisableChart.js
  netmanager/src/views/components/d3/CustomisableChart.js
Labels: ready for review

#1148 move to production
  netmanager/src/views/components/d3/CustomisableChart.js
  netmanager/src/views/pages/Download/Download.js
Labels: ready for review

#1145 Updating app versions.
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: work in progress, ready for review, mobile-app

#1149 move to production
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: ready for review

#1133 Integrate daily forecasts
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
  mobile/lib/blocs/dashboard/dashboard_bloc.dart
  mobile/lib/blocs/favourite_place/favourite_place_bloc.dart
  mobile/lib/blocs/favourite_place/favourite_place_event.dart
  mobile/lib/blocs/insights/insights_bloc.dart
  mobile/lib/blocs/insights/insights_state.dart
  mobile/lib/blocs/location_history/location_history_bloc.dart
  mobile/lib/blocs/map/map_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_bloc.dart
  mobile/lib/blocs/search/search_bloc.dart
  mobile/lib/constants/api.dart
  mobile/lib/constants/config.dart
  mobile/lib/main_common.dart
  mobile/lib/models/air_quality_reading.dart
  mobile/lib/models/database.dart
  mobile/lib/models/database.g.dart
  mobile/lib/models/favourite_place.dart
  mobile/lib/models/forecast.dart
  mobile/lib/models/forecast.g.dart
  mobile/lib/models/health_tip.dart
  mobile/lib/models/hive_type_id.dart
  mobile/lib/models/insight.dart
  mobile/lib/models/location_history.dart
  mobile/lib/models/models.dart
  mobile/lib/models/parsers.dart
  mobile/lib/models/profile.dart
  mobile/lib/screens/analytics/analytics_view.dart
  mobile/lib/screens/analytics/analytics_widgets.dart
  mobile/lib/screens/dashboard/dashboard_view.dart
  mobile/lib/screens/dashboard/dashboard_widgets.dart
  mobile/lib/screens/favourite_places/favourite_places_page.dart
  mobile/lib/screens/favourite_places/favourite_places_widgets.dart
  mobile/lib/screens/home_page.dart
  mobile/lib/screens/insights/insights_page.dart
  mobile/lib/screens/insights/insights_widgets.dart
  mobile/lib/screens/on_boarding/splash_screen.dart
  mobile/lib/services/app_service.dart
  mobile/lib/services/hive_service.dart
  mobile/lib/services/local_storage.dart
  mobile/lib/services/location_service.dart
  mobile/lib/services/native_api.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/utils/extensions.dart
  mobile/lib/widgets/custom_widgets.dart
  mobile/lib/widgets/icons.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/extensions_test.dart
Labels: ready for review, mobile-app

#1150 move to production
  mobile/ios/Podfile.lock
  mobile/ios/Runner.xcodeproj/project.pbxproj
  mobile/ios/Runner/Info.plist
  mobile/lib/blocs/dashboard/dashboard_bloc.dart
  mobile/lib/blocs/favourite_place/favourite_place_bloc.dart
  mobile/lib/blocs/favourite_place/favourite_place_event.dart
  mobile/lib/blocs/insights/insights_bloc.dart
  mobile/lib/blocs/insights/insights_state.dart
  mobile/lib/blocs/location_history/location_history_bloc.dart
  mobile/lib/blocs/map/map_bloc.dart
  mobile/lib/blocs/nearby_location/nearby_location_bloc.dart
  mobile/lib/blocs/search/search_bloc.dart
  mobile/lib/constants/api.dart
  mobile/lib/constants/config.dart
  mobile/lib/main_common.dart
  mobile/lib/models/air_quality_reading.dart
  mobile/lib/models/database.dart
  mobile/lib/models/database.g.dart
  mobile/lib/models/favourite_place.dart
  mobile/lib/models/forecast.dart
  mobile/lib/models/forecast.g.dart
  mobile/lib/models/health_tip.dart
  mobile/lib/models/hive_type_id.dart
  mobile/lib/models/insight.dart
  mobile/lib/models/location_history.dart
  mobile/lib/models/models.dart
  mobile/lib/models/parsers.dart
  mobile/lib/models/profile.dart
  mobile/lib/screens/analytics/analytics_view.dart
  mobile/lib/screens/analytics/analytics_widgets.dart
  mobile/lib/screens/dashboard/dashboard_view.dart
  mobile/lib/screens/dashboard/dashboard_widgets.dart
  mobile/lib/screens/favourite_places/favourite_places_page.dart
  mobile/lib/screens/favourite_places/favourite_places_widgets.dart
  mobile/lib/screens/home_page.dart
  mobile/lib/screens/insights/insights_page.dart
  mobile/lib/screens/insights/insights_widgets.dart
  mobile/lib/screens/on_boarding/splash_screen.dart
  mobile/lib/services/app_service.dart
  mobile/lib/services/hive_service.dart
  mobile/lib/services/local_storage.dart
  mobile/lib/services/location_service.dart
  mobile/lib/services/native_api.dart
  mobile/lib/services/rest_api.dart
  mobile/lib/utils/extensions.dart
  mobile/lib/widgets/custom_widgets.dart
  mobile/lib/widgets/icons.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
  mobile/test/extensions_test.dart
Labels: ready for review

#1153 [PLATFORM] Account creation skeleton
  platform/.vscode/extensions.json
  platform/public/icons/Common/google_logo.svg
  platform/src/common/components/Account/Layout.jsx
  platform/src/common/components/Collocation/AddMonitor/Overview/graph_card.jsx
  platform/src/common/components/Collocation/AddMonitor/Skeletion/index.jsx
  platform/src/common/components/Collocation/header.jsx
  platform/src/common/components/Layout/content_box.jsx
  platform/src/common/components/Layout/header.jsx
  platform/src/pages/account/creation/index.jsx
  platform/src/pages/collocation/collocate.jsx
  platform/src/pages/collocation/overview.jsx
  platform/tailwind.config.js
Labels: ready for review

#1152 [WEBSITE] Mobile App page
  website/frontend/App.js
  website/frontend/src/assets/img/OurProducts/MobileApp/mobile-header.png
  website/frontend/src/assets/img/OurProducts/MobileApp/section-1-bell.png
  website/frontend/src/assets/img/OurProducts/MobileApp/section-1.png
  website/frontend/src/assets/img/OurProducts/MobileApp/section-2-calendar.png
  website/frontend/src/assets/img/OurProducts/MobileApp/section-2.png
  website/frontend/src/assets/img/OurProducts/MobileApp/section-3.png
  website/frontend/src/components/Footer.js
  website/frontend/src/components/OurProducts/Header.js
  website/frontend/src/components/nav/TopBar.js
  website/frontend/src/pages/OurProducts/MobileAppPage.js
  website/frontend/styles/Products.scss
Labels: ready for review, airqo-website
